
@keyframes loading-text {
  from {
    background-color: red;
    font-size: 10em;
  }
  to {
    background-color: yellow;
    font-size: 5em;
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
}

nav {
  position: absolute;
  background: red;
}

canvas {
  background-color: rgb(72, 61, 139);
  margin: auto;
  /* left: 0;
  right: 0;
  top: 0;
  bottom: 0; */
  border: solid 1px rgb(99, 89, 169);
  border-radius: 5px;
}

#loading-banner {
  background-color: rgb(55, 0, 255);
  width: 80%;
  height: 20em;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
}
#loading-banner > h1 {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}